pyuserinput @ git+https://github.com/PyUserInput/PyUserInput.git@ac2d4c7a7f4b1a72e70b1a2ef8925d5312fb12bc#egg=pyuserinput;  sys_platform == 'linux'
aw-core @ git+https://github.com/ActivityWatch/aw-core@master#egg=aw-core
aw-client @ git+https://github.com/ActivityWatch/aw-client@master#egg=aw-client
aw-server @ git+https://github.com/ActivityWatch/aw-server.git@master#egg=aw-server
aw-watcher-afk @ git+https://github.com/ActivityWatch/aw-watcher-afk.git@master#egg=aw-watcher-afk
aw-watcher-window @ git+https://github.com/ActivityWatch/aw-watcher-window.git@master#egg=aw-watcher-window
aniso8601==7.0.0
appdirs==1.4.3
atomicwrites==1.3.0
attrs==19.1.0
certifi==2019.9.11
chardet==3.0.4
Click==7.0
Flask==1.1.1
Flask-Cors==3.0.8
flask-restplus==0.12.1
idna==2.8
importlib-metadata==0.18
iso8601==0.1.12
itsdangerous==1.1.0
Jinja2==2.10.1
jsonschema==3.0.1
MarkupSafe==1.1.1
more-itertools==7.1.0
packaging==19.0
peewee==3.9.6
persist-queue==0.4.2
pluggy==0.12.0
py==1.8.0
py-cpuinfo==5.0.0
pyparsing==2.4.0
PyQt5==5.13.1
PyQt5-sip==12.7.0
PyQtChart==5.13.0
pyrsistent==0.15.3
pytest==5.0.1
pytest-benchmark==3.2.2
python-json-logger==0.1.11
python-xlib==0.25
pytz==2019.1
PyYAML==5.1.2
requests==2.22.0
six==1.12.0
strict-rfc3339==0.7
TakeTheTime==0.3.1
urllib3==1.25.6
wcwidth==0.1.7
Werkzeug==0.15.4
zipp==0.5.2
