pyuserinput @ git+https://github.com/PyUserInput/PyUserInput.git@ac2d4c7a7f4b1a72e70b1a2ef8925d5312fb12bc#egg=pyuserinput;  sys_platform == 'linux'
aw-core @ git+https://github.com/ActivityWatch/aw-core@master#egg=aw-core
aw-client @ git+https://github.com/ActivityWatch/aw-client@master#egg=aw-client
aw-server @ git+https://github.com/ActivityWatch/aw-server.git@master#egg=aw-server
aw-watcher-afk @ git+https://github.com/ActivityWatch/aw-watcher-afk.git@master#egg=aw-watcher-afk
aw-watcher-window @ git+https://github.com/ActivityWatch/aw-watcher-window.git@master#egg=aw-watcher-window
appdirs==1.4.3
attrs==19.1.0
idna==2.8
MarkupSafe==1.1.1
more-itertools==7.1.0
packaging==19.0
pluggy==0.12.0
py==1.8.0
py-cpuinfo==5.0.0
pyparsing==2.4.0
PyQt5==5.13.1
PyQt5-sip==12.7.0
PyQtChart==5.13.0
pytest==5.0.1
pytest-benchmark==3.2.2
pytz==2019.1
PyYAML==5.1.2
requests==2.22.0
six==1.12.0
urllib3==1.25.6
